.breadcrumbNav {
    display: block;
    opacity: 50%;
    width: 99%;
    margin: 0;
    padding: 5px 11px;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    box-sizing: border-box;
    white-space: nowrap;
    text-overflow: ellipsis;
    animation: slideInSmooth 0.8s cubic-bezier(0.23, 1, 0.32, 1);

}

@keyframes slideInSmooth {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.breadcrumbNav a {
    color: #7b7b7b;
    text-decoration: none;
    font-weight: 500;
}

.breadcrumbNav a:hover {
    text-decoration: underline;
}

.breadcrumbCurrent {
    color: #676767;
    font-weight: 600;
}
